<div class="w-[103px] h-full rounded-tr-3xl overflow-hidden rounded-br-2xl flex flex-col justify-between items-center"
     style="background-color:#373B53">

  <div class="logo-bg w-20 h-20 flex flex-col items-center place-content-center">
    <img class="w-1/2 h-1/2 justify-center" src="./assets/logo.svg" alt="logo" />
  </div>

  <div class="flex flex-col justify-center">
    <img class="mb-10 w-6" src="./assets/icon-moon.svg" alt="moon"/>
    <img class="mb-6 w-8 h-8 rounded-full" src="./assets/image-avatar.jpg" alt="avatar"/>
  </div>
</div>
