@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;

    /*Weights: 400i, 700, 800i*/
}

.container {
    padding: 55px 24px 40px;
    border-radius: 35px 35px 95px 35px;
}

input:invalid + span::after {
    position: absolute;
    content: "Must be a valid date";
    font-size: 9px;
    font-style: italic;
}

input:valid + span::after {
    position: absolute;
    content: "";
}